## Testfall 1 - Übung starten

| Feld         | Inhalt                                |
| ------------ | ------------------------------------- |
| Test-ID      | TC-01                                 |
| Beschreibung | Anzeige der ersten Aufgabe beim Start |
| Schritte     | 1. App starten                        |
|              | 2. "Training" drücken             |
| Erwartet     | Erste Aufgabe wird angezeigt          |
| Tatsächlich  | Erste Aufgabe wird korrekt angezeigt  |
| Status       | ✅ Bestanden                          |

## Testfall 2 - Training Starten

| Feld         | Inhalt                                                |
| ------------ | ----------------------------------------------------- |
| Test-ID      | TC-02                                                 |
| Beschreibung | Überprüfung einer richtigen Antwort                   |
| Schritte     | 1. Richtige Antwort auswählen                         |
|              |2. „Antwort prüfen“ drücken                                     |
| Erwartet     | Positives Feedback erscheint                          |
| Tatsächlich  | Feedback wird korrekt angezeigt                       |
| Status       | ✅ Bestanden                                          |

## Testfall 3 - Die nächste Aufgabe wird angezeigt

| Feld         | Inhalt                                  |
| ------------ | --------------------------------------- |
| Test-ID      | TC-03                                   |
| Beschreibung | Wechsel zur nächsten Aufgabe            |
| Schritte     | 1. Aufgabe lösen                        |
|              | 2. „Weiter“ drücken                     |
| Erwartet     | Neue Aufgabe wird angezeigt             |
| Tatsächlich  | Neue Aufgabe korrekt geladen            |
| Status       | ✅ Bestanden                             |


## Testfall 4 - Feedback bei falschen Antwort erhalten

| Feld         | Inhalt                             |
| ------------ | ---------------------------------- |
| Test-ID      | TC-04                              |
| Beschreibung | Überprüfung einer falschen Antwort |
| Schritte     | Falsche Antwort auswählen          |
| Erwartet     | Negatives Feedback erscheint       |
| Tatsächlich  | Feedback korrekt angezeigt         |
| Status       | ✅ Bestanden                       |


## Testfall 5 - Letzte Aufgabe beendet die Übung

| Feld         | Inhalt                        |
| ------------ | ----------------------------- |
| Test-ID      | TC-05                         |
| Beschreibung | Abschluss der Übung           |
| Schritte     | Letzte Aufgabe lösen          |
| Erwartet     | „Ergebnis“-Screen erscheint   |
| Tatsächlich  | Summary-Screen wird angezeigt |
| Status       | ✅ Bestanden                  |


## Testfall 6 - Fortschritt anzeigen

| Feld         | Inhalt                                                          |
| ------------ | --------------------------------------------------------------- |
| Test-ID      | TC-06                                                           |
| Beschreibung | Speicherung des Lernfortschritts                                |
| Schritte     | "Fortschritt anzeigen" am Ende der Übung drücken                |
| Erwartet     | Fortschritt nach der Übung ist gespeichert                      |
|              | und angezeigt                                                   |
| Tatsächlich  | Fortschritt korrekt geladen                                     |
| Status       | ✅ Bestanden                                                    |

